* {
    margin: 0;
}
body {
    background-color: #333;
}
.nav-header{
    background: #fff;
    border-bottom: 3px dotted #ccc;
    min-height: 85px;
    text-align: center;
}
.nav-style{
    padding: 30px;
    display: inline-block;
    margin-right: 50px;
    
}
.style-link{
    text-decoration: none;
    list-style: none;
}