* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #333;
}
.nav-header{
    background: #fff;
    border-bottom: 3px dotted #ccc;
    min-height: 85px;
    text-align: center;
}
.nav-style { 
    padding: 30px;
    display: inline-block;
    margin-right: 50px;
}
.nav-color {
    color: red;
}
a:link {
    text-decoration: none;
}
header nav ul li a {
    color: red;
}