.mario {
    width: 200px;
}
.goomba {
    width: 200px;
}

.word{
    width: 10px;
    position: absolute;
    margin-left: 30px;
}

.baloon {
    width: 150px;
    float: left;

}
.bowser {
    width: 200px;
}