h1 {
    font-family: sans-serif; /* Parte 2 do exercício*/
    size: 65px;
    color: orange;
  }

  body {
    font-size: 16px; /* Parte 2 do exercício*/
  }

  p {
    font-weight: 600;
    font-size: 3em; /* Parte 2 do exercício*/
    font-style: italic;
    text-align: center;
    text-decoration: underline;
  }

  ul {
    background-color: steelblue;
  }

  .element-class {
    background-color: slategray;
    color: rgb(201, 191, 191);
    border-radius: 10px;
    box-shadow: black 0 0 10px;
  }

  #list-item01 {
    background-color: yellow; /* Parte 2 do exercício*/
    color: black;
  }

  #list-item02 {
    background-color: red; /* Parte 2 do exercício*/
  }

  #list-item03 {
    background-color: brown; /* Parte 2 do exercício*/
  }